<app-header backButton="/auth" title="Resetear clave" [isModal]="isModal" ></app-header>
<ion-content>
  <div class="">
    <form
      [formGroup]="group"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <app-logo></app-logo>

      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="group.controls.email"
        type="email"
        [required]="true"
        label="Correo electrónico"
      ></app-custom-input>
      <ion-button
        expand="block"
        shape="round"
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="group.invalid"
      >
        Enviar enlace
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
